# Dependencies
node_modules
.pnpm-store

# Local Environment & Secrets (DO NOT COMMIT)
.env.local
.env.*.local

# Vercel & Build Artifacts
.vercel
dist

# Raw Data Imports (Do not commit price lists)
*.csv
